.form-item
    width 200px
    display flex
    margin-bottom 10px

.categories-header
    text-decoration underline
    font-size 20px
    margin-bottom 10px


.categories-container
    margin-bottom 20px
